<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <title>赵sir的个人网站-关于</title>
    <meta name="description" content="赵sir的个人网站 - Zhao Sir's Personal Website 记录我的IT成长路上的点点滴滴，希望通过撰写博客对知识沉淀，同时方便平时复习巩固。">
	<meta name='Keywords' content="赵sir,个人网站，个人博客，IT，大前端，全栈">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/regarding.css">
	<link rel="stylesheet" href="/public/css/base.css">
	<link rel="stylesheet" href="/public/css/iconfont.css">
</head>
<body>
    <header>
        <div class="logo">
			<a href="/index" title="返回首页">
				<img src="/public/img/logo.jpg" alt="logo" title="返回首页">
			</a>
        </div>
        <div class="nav">
			<div class="nav-left">
				<a href="/index" title="index"><span class="iconfont icon-shouye"></span>首页</a>
				<a href="/blog" title="blog"><span class="iconfont icon-wenzhang"></span>博文</a>
				<a href="/works" title="works"><span class="iconfont icon-zuopin"></span>作品</a>
				<a href="/regarding" title="regarding"><span class="iconfont icon-about"></span>关于</a>
				<a href="/login" title="login-in"><span class="iconfont icon-denglu-copy"></span>登录</a>
			</div>
			<div class="nav-right">
			</div>
        </div>
        <div class="search">
			<input type="text" name="search" title="搜索" id="search">
			<span class="iconfont icon-sousuo xian"></span>
        </div>
    </header>
    <section class="w">
        <div class="site">
            <h2>关于站</h2>
            <p>这是 赵sir 的个人网站，记录我的IT成长路上的点点滴滴。</p>
            <p>希望通过撰写博客对知识沉淀，同时方便平时复习巩固。</p>
            <p>当前版本号为0.0.1，目前有的功能有文章查询、登录账号、注册账号、文章展现、</p>
            <p>很遗憾目前还没有留言功能</p>
            <p>要考试了，没有时间，我看会在暑假的时候重构以下，感觉自己写的太菜了，以后要用框架了</p>
            <p>这个网站百分之九十以上的代码是我一点一点敲出来的，没有用什么框架</p>
        </div>
        <div class="me">
            <h2>关于我</h2>
            <p>你好，我是目前就读于<a href="https://www.sicau.edu.cn/" title="四川农业大学">四川农业大学</a>计算机科学与技术系大一</p>
            <p>目前主攻方向大前端、全栈</p>
            <p>现在正在学习Node、Vue</p>
            <p>在学习的征程中，还有很多知识需要学习，希望各位前辈、网友可以和我一起交流学习</p>
        </div>
        <div class='contact'>
            <h2>联系方式</h2>
            <p><span class="iconfont icon-icon" title="QQ"></span>1754624618</p>
            <p><span class="iconfont icon-weibo" title="微博"></span>暂无</p>
            <p><span class="iconfont icon-weixin" title="微信"></span>暂无</p>
            <p><span class="iconfont icon-email" title="e-mail"></span>暂无</p>
        </div>

    </section>

    <footer>
        <p>&copy; 2019 zhaosirlaile</p>
        <p>蜀ICP备19012587号</p>
    </footer>
    <div class="menu">
        <span class="iconfont icon-caidan"></span>
    </div>
    <script src="/public/js/main.js"></script>
</body>
</html>